tests/Coverage
.idea/
.bash_history
.composer
.config
.npm
/v8-compile-cache-0
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
clover.xml